.PipeGrid {
  flex: 1 1;
  overflow: scroll;

  .PipeGridContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 65vh;
    max-width: min(75vh, 70vw);
    min-height: 150px;
    min-width: min(240px, 50vw);
    position: relative;
    white-space: nowrap;
    padding: 1px;
    justify-content: flex-start;
    align-items: flex-start;

    @media only screen and (max-width: 480px) {
      max-height: 40vh;
    }
  }

  .PipeGridRow {
    display: flex;
  }

  .LoadingTitle {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
